<!DOCTYPE html> 
<html> 
<head> 
	<title>Page Title</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

<link rel="stylesheet" href="styles/jquery.mobile-1.2.0.min.css" />
	<script src="scripts/jquery-1.8.2.min.js"></script>
	<script src="scripts/jquery.mobile-1.2.0.min.js"></script>
	

	
	
	
	
		 <script>
              $(document).on('pagebeforeshow', '#serviceGuide', function(){       
                     $.getScript('scripts/simple-app.js');   
                      
                });
				
				
				
		</script>
				
	
	
		<link rel="stylesheet" href="styles/custom.css" />
	
	
	<style>
		@font-face {
		    font-family:'robotocondensed';
		    src: url('fonts/roboto-condensed-webfont.eot');
		    src: url('fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
		         url('fonts/roboto-condensed-webfont.woff') format('woff'),
		         url('fonts/roboto-condensed-webfont.ttf') format('truetype'),
		         url('fonts/roboto-condensed-webfont.svg#robotocondensed') format('svg');
		    font-weight: normal;
		    font-style: normal;
		}
</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head> 


<body> 
	
	
	
	 <div data-role="page" id="index" class="pageContainer arabicPageContainer">
            <div data-theme="b" data-role="header" class="sewaHeader alignCenter">
               <img src="images/logo.png" class="logoHolder" /> 
              
                <img src="images/shadowLeft.png" class="leftShadowHeader"/><img src="images/shadowRight.png" class="rightShadowHeader"/>
				
				
				<div class="goBut topMenu">
						<a href="index_arabic.html" data-transition="slide">القائمة</a>
				</div>
				
				
							
								
								
            </div>

            <div data-role="content" class="sewaContentBg">
                
				
				
				
				<div class="leftNavigationColumn">
				
					<div class="leftMenuHolder">
					
					
					<ul>
					
						<li class="active firstChild">
						<a href="index_arabic.html" data-transition="slide">
						<img src="images/home.png" /><br/>
						الصفحة الرئيسية
						</a>
						</li>
						<li>
						<a href="profile_arabic.html" data-transition="slide">
							<img src="images/profile.png" /><br/>
						الملف الشخصي
						</a>
						</li>
					
					<li>
					<a href="#" data-transition="slide">
							<img src="images/notification.png" /><br/>
						إشعار
						</a>
						</li>
						
						
						<li>
						<a href="news_arabic.html" data-transition="slide">
							<img src="images/news.png" /><br/>
						الأخبار
						</a>
						</li>
						
						<li class="lastChild">
						<a href="aboutus_arabic.html" data-transition="slide">
							<img src="images/aboutus.png" /><br/>
						عن الهيئة</a>
						</li>
						
						
					</ul>
					
					
					</div>
				
				
				</div>
				
				<div class="rightContent billSection arabicVersion">
				
				<fieldset class="formSection">
					<legend class="textRight" style="width:70%;">الاستفسار عن الفاتورة </legend>
					
					
					<table>
						<tr>
						<td>
								<div class="goBut">
								عرض
								</div>
								
							</td>
							
							<td style="width:100%;">
								<input type="text" name="search_zipcode" ng-model="search_zipcode" ng-click="clearAlerts()" class="ng-pristine ng-valid textRight" value="1600231060" ></td>
							
						</tr>
						
			
           			 </table>
					
				
				<div class="bottomListDetail">
				
				<div class="ui-grid-a ui-responsive">
					<div class="ui-block-a"><div class="ui-body ui-body-d textRight">ABDULREHMAN AMIN A R ALSHURFA<b style="float:right;margin-left:15px;">:</b></div></div>
					<div class="ui-block-b"><div class="ui-body ui-body-d bigSize">اسم المستهلك </div></div>
				</div><!-- /grid-a -->
				
				
				
				<div class="ui-grid-a ui-responsive">
					<div class="ui-block-a"><div class="ui-body ui-body-d textRight">AED 575.95<b style="float:right;;margin-left:15px;">:</b></div></div>
					<div class="ui-block-b"><div class="ui-body ui-body-d bigSize">الرصيد الحالي </div></div>
				</div><!-- /grid-a -->
				
				
				<div class="ui-grid-a ui-responsive">
					<div class="ui-block-a"><div class="ui-body ui-body-d textRight"> 31/08/2013<b style="float:right;;margin-left:15px;">:</b></div></div>
					<div class="ui-block-b"><div class="ui-body ui-body-d bigSize">تاريخ الاستحقاق </div></div>
				</div><!-- /grid-a -->
				
				
				<div class="ui-grid-a ui-responsive">
					<div class="ui-block-a"><div class="ui-body ui-body-d textRight">AED 0.00  <b style="float:right;;margin-left:15px;">:</b></div></div>
					<div class="ui-block-b"><div class="ui-body ui-body-d bigSize">المبلغ المدفوع (هذا الشهر)</div></div>
				</div><!-- /grid-a -->
				
				<div class="ui-grid-a ui-responsive">
					<div class="ui-block-a"><div class="ui-body ui-body-d textRight">18/08/2013<b style="float:right;;margin-left:15px;">:</b></div></div>
					<div class="ui-block-b"><div class="ui-body ui-body-d bigSize">تاريخ آخر سداد للفاتورة </div></div>
				</div><!-- /grid-a -->
				
				
				<div class="ui-grid-a ui-responsive noBdr">
						<a href="#popupDialog_arabic" data-rel="popup" data-position-to="window"  data-inline="true"   data-transition="pop" style="text-decoration:none;">
					<div class="goBut bottomSubmit">
								عرض الفاتورة
					</div>
					</a>
					
				</div><!-- /grid-a -->
				
				
				
				<div data-role="popup" id="popupDialog_arabic" data-overlay-theme="a" data-theme="c" class="popupSection">
			
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>


			<div class="header">
        <div class="wrapper">
            <div class="logo">
                <img style="float: left;" src="images/logo.png" alt="logo" width="360" height="76" />
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="innercontainer">
            <div id="divLeftContent" class="leftColumn align">
                <ul class="leftColContent">
                    <li style="width: 208px; padding-bottom: 4px;">الاسم و العنوان</li>
                    <li style="width: 208px;">Name &amp; Address</li>
                    <li class="contactBox">
                        <h5>
                            ABDULREHMAN AMIN A R ALSHURFA </h5>
                        <h5>
                            HUSSAIN MOHAMMED SALY MOHAMMEDPost Box: 888 Sharjah        UFLAT-101                      </h5>
                    </li>
                </ul>
                <ul class="leftColContent leftLastHolder">
                    <li class="lastLabel">رقم المستهلك</li>
                    <li class="lastLabel">Consumer No</li>
                    <li>
                        <div class="leftSmallSector">
                            <b>
                                1600231060
                            </b>
                        </div>
                    </li>
                </ul>
                <table width="207" cellpadding="0" cellspacing="0" class="leftLastTable">
                    <tr>
                        <th width="103">
                            Bill No
                        </th>
                        <th width="103">
                            TRF
                        </th>
                    </tr>
                    <tr>
                        <td class="firstCell">
                            <b>
                                192445013
                            </b>
                        </td>
                        <td>
                            <b>
                                NR  
                            </b>
                        </td>
                    </tr>
                </table>
                <table width="207" cellpadding="0" cellspacing="0" class="leftLastTable topSpacing">
                    <tbody>
                        <tr>
                            <th width="103">
                                تاريخ آخر سداد
                            </th>
                            <th width="103">
                                تاريخ الفاتورة
                            </th>
                        </tr>
                        <tr>
                            <th width="103">
                                Last Rcpt Date
                            </th>
                            <th width="103">
                                Bill Date
                            </th>
                        </tr>
                        <tr>
                            <td class="firstCell">
                                &nbsp;
                            </td>
                            <td>
                                <b>
                                    30/06/2013</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="divRightContent" class="rightColumn align">
                <table cellpadding="0" cellspacing="0" width="600">
                    <tr>
                        <th width="21%" class="noCell noRight">
                            &nbsp;
                        </th>
                        <th width="14%" class="noRight">
                            Electricity
                        </th>
                        <th width="14%" class="noRight">
                            Water
                        </th>
                        <th width="14%" class="noRight">
                            Gas
                        </th>
                        <th width="18%" class="noRight">
                            Municipal Ser
                        </th>
                        <th width="19%" class="noCell noRight" style="border-left: 1px solid #000;">
                            &nbsp;
                        </th>
                    </tr>
                    <tr style="display: none">
                        <td class="mainNote noBottomRight">
                            Meter No.
                        </td>
                        <td class="noBottomRight">
                            
                        </td>
                        <td class="noBottomRight">
                            
                        </td>
                        <td class="noBottomRight">
                            
                        </td>
                        <td class="noBottom">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Current RDG
                        </td>
                        <td class="noBottomRight">
                            19099
                        </td>
                        <td class="noBottomRight">
                            65530
                        </td>
                        <td class="noBottomRight">
                            100
                        </td>
                        <td class="noBottomRight">
                            -
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            القراءة الحالية
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Previous RDG
                        </td>
                        <td class="noBottomRight">
                            18525
                        </td>
                        <td class="noBottomRight">
                            62310
                        </td>
                        <td class="noBottomRight">
                            100
                        </td>
                        <td class="noBottomRight">
                            
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            القراءة السابقة
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Consumption
                        </td>
                        <td class="noBottomRight">
                            574
                        </td>
                        <td class="noBottomRight">
                            3220
                        </td>
                        <td class="noBottomRight">
                            0
                        </td>
                        <td class="noBottomRight">
                            3220
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            الإستهلاك
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Unit Rate
                        </td>
                        <td class="noBottomRight">
                            30.00
                        </td>
                        <td class="noBottomRight">
                            3.00
                        </td>
                        <td class="noBottomRight">
                            125.00
                        </td>
                        <td class="noBottomRight">
                            0.50
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            (سعر الوحدة (فلس
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Reading Date
                        </td>
                        <td class="noBottomRight" nowrap="nowrap">
                            13/06/2013
                        </td>
                        <td class="noBottomRight" nowrap="nowrap">
                            13/06/2013
                        </td>
                        <td class="noBottomRight" nowrap="nowrap">
                            13/06/2013
                        </td>
                        <td class="noBottomRight" nowrap="nowrap">
                            13/06/2013
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            تاريخ القراءة
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Current Amount
                        </td>
                        <td class="noBottomRight">
                            172.20
                        </td>
                        <td class="noBottomRight">
                            96.60
                        </td>
                        <td class="noBottomRight">
                            0.00
                        </td>
                        <td class="noBottomRight">
                            16.10
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            المبلغ الحالي
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Service Charges
                        </td>
                        <td class="noBottomRight">
                            30.00
                        </td>
                        <td class="noBottomRight">
                            20.00
                        </td>
                        <td class="noBottomRight">
                            20.00
                        </td>
                        <td class="noBottomRight">
                            0.00
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            رسوم خدماث
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Arrears
                        </td>
                        <td class="noBottomRight">
                            223.75
                        </td>
                        <td class="noBottomRight">
                            60.38
                        </td>
                        <td class="noBottomRight">
                            20.00
                        </td>
                        <td class="noBottomRight">
                            6.73
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            المتأخرات
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Receipt
                        </td>
                        <td class="noBottomRight">
                            223.89
                        </td>
                        <td class="noBottomRight">
                            60.38
                        </td>
                        <td class="noBottomRight">
                            20.00
                        </td>
                        <td class="noBottomRight">
                            6.73
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            المدفوعات
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noBottomRight">
                            Adjustment
                        </td>
                        <td class="noBottomRight">
                            0.00
                        </td>
                        <td class="noBottomRight">
                            0.00
                        </td>
                        <td class="noBottomRight">
                            0.00
                        </td>
                        <td class="noBottomRight">
                            0.00
                        </td>
                        <td class="noBottom mainNote" style="text-align: right;">
                            التعديلات
                        </td>
                    </tr>
                    <tr>
                        <td class="mainNote noRight">
                            Net Amount
                        </td>
                        <td class="noRight">
                            202.06
                        </td>
                        <td class="noRight">
                            116.60
                        </td>
                        <td class="noRight">
                            20.00
                        </td>
                        <td class="noRight">
                            16.10
                        </td>
                        <td class="mainNote" style="text-align: right;">
                            المبلغ الصافي
                        </td>
                    </tr>
                </table>
                <table width="600" cellpadding="0" cellspacing="0" class="bottomTotalSection">
                    <tbody>
                        <tr>
                            <th width="200" align="left">
                                <b>Sub-Total (E-W-G) :
                                    338.66</b>
                            </th>
                            <th align="left">
                                <b>Total Amount :
                                    354.76</b>
                            </th>
                            <th align="right">
                                المبلغ الإجمالي
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            &nbsp;
        </div>
    </div>

			
		</div>
		
		
				
				</div>	
					
					
					
				</fieldset>	
				
				
				
				
				</div>
				
				
				
				
				
				
				
				
            </div>
        </div>    
	
	
	
</body>
</html>