<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sewa.SEWAipad"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->
	
    <name>SEWA</name>

    <description>
       Sewa tablet application
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Sewa
    </author>

	<preference name="target-device" value="universal" />
	<preference name="orientation" value="landscape" />
	<preference name="splash-screen-duration" value="10000"/>
	<preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
	
	 <!-- Internet connection -->
	<feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
	</feature>
	
	<feature name="Network Status">
    <param name="blackberry-package" value="org.apache.cordova.network.Network" />
	</feature>
	
	<feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection" />
	</feature>
	
	<Capabilities>
    <Capability Name="ID_CAP_NETWORKING" />
	</Capabilities>
	
	<icon src="images/splash/5.png" gap:platform="ios" width="144" height="144" />
	<icon src="images/splash/5.png" gap:platform="android" gap:density="hdpi" />
	<icon src="images/splash/5.png" gap:platform="android" gap:density="xhdpi" />
	
	  <!-- Splash screen ios-->
	<gap:splash src="images/splash/3.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="images/splash/3.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="images/splash/3.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="images/splash/3.png" gap:platform="android" gap:density="xhdpi" />
	
	
	

	
	
	
	</widget>